* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  color: rgb(9, 30, 66);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.34;
  background-color: rgb(255, 255, 255);
  letter-spacing: 0.16px;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  font-style: normal;
}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.16px;
  color: #091E42;
}

.app-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  overflow: hidden;
  padding: 0px;
  text-align: center;
}

/** TOP NAVIGACE **/
.navigation-top {
  width: 100%;
  height: 50px;
  display: flex;
  position: static;
  background-color: #2a363b;
  z-index: initial;
}

.navigation-top-logo {
  cursor: pointer;
  height: 48px;
  width: 48px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}

.navigation-panel {
  display: flex;
  flex: 1 1 100%;
  padding-left: 16px;
}

/** KONEC TOP NAVIGACE **/

/** HLAVNI KONTEJNER **/

.main-container {
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  overflow: hidden auto;
  /* width: calc(100% - 48px);
  height: calc(100vh - 48px); */
  background-color: #e9e9e9;
}

/** SIDEBAR **/
.navigation-sidebar {
  display: flex;
  flex-direction: column;
  width: 48px;
  min-width: 48px;
  background-color: rgb(255, 255, 255);
  z-index: 900;
  height: calc(100vh - 48px);
  top: 0px;
  left: 0px;
  transition: all 0.5s ease 0s;
  overflow-x: hidden;
  white-space: nowrap;
}

.siderbar-container {
  width: 4.5rem;
  height: 100%;
}

.sidebar-column {
  height: 100%;
}

/** KONEC SIDEBAR **/

.layout-content {
  display: block;
  flex: 1 0 auto;
  overflow: hidden auto;
  width: calc(100% - 48px);
  height: calc(100vh - 48px);
}

.layout-wrapper {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 48px);
}

/*********************************/

.page {
  width: 100%;
  height: 100%;
}

.content-container {
  width: calc(100% - 50px);
  padding: 15px;
  height: 100%;
  word-break: break-word;
}

.sidebar {
  position: static;
  top: 0;
  width: 50px;
  height: calc(100vh - 48px);
  background-color: #2a363b;
  transition: width 0.3s ease;
  padding-top: 15px;
}

.sidebar .sidebar-position {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-align: left;
}

.sidebar .sidebar-position:hover {
  background-color: #3f5159;
  border-right: 5px #e84a5f solid;
}

.sidebar svg {
  color: #e84a5f;
  min-width: 25px;
}

.sidebar span {
  width: 0;
  height: 0;
  padding: 0 15px;
  transition: width 0.3s ease;
  color: #c9c9c9;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar--open {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar--open .sidebar-position span {
  display: block;
  width: 100%;
  height: auto;
}

.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  align-items: center;
  top: 0;
  left: 100%;
  padding: 4px;
  margin-left: 5px;
  background-color: #2a363b;
  min-width: 232px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.16px;
  font-weight: 400;
  float: left;
}

.dropdown-content a {
  color: #e84a5f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #3f5159;
  border-right: 5px #e84a5f solid;
  color: #e84a5f;
  text-decoration: none;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content-sub {
  display: none;
  position: absolute;
  align-items: center;
  top: 0;
  left: 100%;
  padding: 4px;
  margin-left: 5px;
  background-color: #2a363b;
  min-width: 232px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.16px;
  font-weight: 400;
  float: left;
}

.dropdown-content-sub a {
  color: #e84a5f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-sub a:hover {
  background-color: #3f5159;
  border-right: 5px #e84a5f solid;
  color: #e84a5f;
  text-decoration: none;

}

.dropdown-content:hover .dropdown-content-sub {
  display: block;
}

.submenu-title {
  color: #FFFFFF;
  font-weight: 900;
}


/*************** CONTENT ***************/
.content-header {
  height: 56px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 16px;
  border-bottom: 1px solid rgba(143, 143, 143, 0.295);
}

.content-header-title {
  font-size: 21px;
  color:rgb(9, 30, 66)
}

.btn-content-header {
  margin-left: auto;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}

.fa-minus-circle {
  color: grey;
}

.table-team-title {
  text-align: left;
}

.table-team-logo {
  width: 30px;
  /* content: url(../Content/img/svinov.png); */
  align-content: center;
}

.table-zone-lg {
  padding: 0.5rem;
}

.table td, .table th {
  padding: .5rem;
}
/************* END CONTENT *************/


.box-sm {
  padding: 1rem;
}

.box-lg {
  padding: 1rem;
}